<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading pin_image">
        <%= image_tag @pin.image.url %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @pin.title %>
        </h1>
        <p class="description">
          <%= @pin.description %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="card-text">
              <small class="text-muted">
              <%= @pin.updated_at.strftime("%A, %B, %e, %Y") %>
            <%  if @pin.user.username.empty? %>
                <% @pin.user.username = @pin.user.email.split("@")[0] %>
               By: <%= @pin.user.username.capitalize %> | <%= pluralize(@comments.count, "Comment") %>
            <% else %>
               By: <%= @pin.user.username.capitalize %> | <%= pluralize(@comments.count, "Comment") %>
               <% end %>
              </small>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-heart"></span>
                <%= @pin.get_upvotes.size %>
              <% end %>
                <% if @pin.user == current_user %>
                <%= link_to "Edit", edit_pin_path, class: "btn btn-default" %>
                <%= link_to "Delete", pin_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
                <%= link_to "Back", root_path, class: "btn btn-default" %>
              <% else user_signed_in? %>
                <%= link_to "Back", root_path, class: "btn btn-default" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="comments-show">
      <h2> Comments: </h2>
       <% if @comments.blank?%>
          <h3>No comments just yet, would you like to add the first!</h3>
      <% else %>
       <%= render @pin.comments %> <br>
       <%end%>
     
      <h2> Add a comment: </h2>
       <%= render 'comments/form' %>
    <div>


    

 